name: main

on:
  workflow_dispatch:
    inputs:
      package-version:
        type: string
        description: Package version
        required: false
      deploy:
        type: boolean
        description: Deploy package
        required: false
        default: false
  schedule:
    - cron: "0 0 * * *"
  push:
    branches:
      - master
    tags:
      - "*"
  pull_request:
    branches:
      - master

jobs:
  main:
    uses: Tyrrrz/.github/.github/workflows/nuget.yml@master
    with:
      # CI tests currently don't work due to YouTube's anti-bot measures
      # https://github.com/Tyrrrz/YoutubeExplode/issues/794
      skip-tests: true
      deploy: ${{ inputs.deploy || github.ref_type == 'tag' }}
      package-version: ${{ inputs.package-version || (github.ref_type == 'tag' && github.ref_name) || format('0.0.0-ci-{0}', github.sha) }}
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      NUGET_TOKEN: ${{ secrets.NUGET_TOKEN }}
      DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
